:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

h1 {
  color: indianred;
  background-color: seashell;
  border: 3px solid black;
  padding: 30px 50px 30px 80px;
  margin: 5px;
  font-family: cursive;
}
body {
  margin: 0;
  min-height: 100%;
  background-color: antiquewhite;
}
h2 {
  margin: 20px 20px;
  font-family: fantasy;
}
.rounded {
  border-radius: 40px;
}

p {
  padding: 10px;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  margin: 20px;
}
